@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Documentação</h1>
    <p>O projeto elevador consiste de uma aplicação em que primeiramente o usuário irá inserir a quantidade de pessoas presentes
        no elevador, a capacidade total, o andar atual do elevador, e quantos andares há no prédio. O programa dispõe de 5 operações,
        sendo a primeira inicializar, em que irá exibir o total de andares e a capacidade máxima do elevador. A segunda é entrar, que
        irá adicionar a quantidade de pessoas que o usuário inserir na quantidade de pessaos dentro do elevador. A terceira é sair, que
        faz o mesmo que entrar, porém retira a quantidade de pessoas inseridas pelo usuário da quantidade do elevador. A quarta é subir,
        que irá subir um determinado número de andares que o usuário inserir e a última operação é descer que irá descer andares de acordo
        com o que o usuário inserir.
    </p>
</div>
